<div class="main-wrapper">
  <form (ngSubmit)="formSubmit()" [formGroup]="filmEditForm">
    <mat-card class="example-card">
      <mat-card-content>
        <mat-form-field>
          <input
            matInput
            placeholder="Názov"
            formControlName="nazov"
            required
          />
          <mat-error *ngIf="nazov?.errors?.minlength">
            Názov musí mať aspoň
            {{ nazov.errors.minlength.requiredLength }} znakov, aktuálne máte
            {{ nazov.errors.minlength.actualLength }} znakov</mat-error
          >
          <mat-error *ngIf="nazov?.errors?.required"
            >Názov musí byť vyplnený</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Slovenský názov"
            formControlName="slovenskyNazov"
            required
          />
          <mat-error *ngIf="slovenskyNazov?.errors?.minlength">
            Slovenský názov musí mať aspoň
            {{ slovenskyNazov.errors.minlength.requiredLength }} znakov,
            aktuálne máte
            {{ slovenskyNazov.errors.minlength.actualLength }} znakov</mat-error
          >
          <mat-error *ngIf="slovenskyNazov?.errors?.required"
            >Slovenský názov musí byť vyplnený</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Rok" formControlName="rok" required />
          <mat-error *ngIf="rok?.errors?.rok || rok?.errors?.pattern">
            Rok musí byť v správnom tvare</mat-error
          >
        </mat-form-field>

        <p>Režiséri:</p>
        <mat-form-field>
          <input
            matInput
            placeholder="Režisér"
            formControlName="reziser"
            required
          />
          <mat-error *ngIf="reziser?.errors?.minlength">
            Režisér musí mať aspoň
            {{ reziser.errors.minlength.requiredLength }} znakov, aktuálne máte
            {{ reziser.errors.minlength.actualLength }} znakov</mat-error
          >
          <mat-error *ngIf="reziser?.errors?.required"
            >Režisér musí byť vyplnený</mat-error
          >
        </mat-form-field>

        <p>Postavy:</p>
        <mat-form-field>
          <input
            matInput
            placeholder="Postava"
            formControlName="postava"
            required
          />
          <mat-error *ngIf="postava?.errors?.minlength">
            Postava musia mať aspoň
            {{ postava.errors.minlength.requiredLength }} znakov, aktuálne máte
            {{ postava.errors.minlength.actualLength }} znakov</mat-error
          >
          <mat-error *ngIf="postava?.errors?.required"
            >Postava musí byť vyplnená</mat-error
          >
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="filmEditForm?.invalid"
        >
          Save
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
