<div class="login-wrapper">
  <form (ngSubmit)="formSubmit()" #formModel="ngForm">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Auth: {{ vypisAuth }}</p>
        <mat-form-field>
          <input
            matInput
            placeholder="login name"
            [(ngModel)]="auth.name"
            name="name"
            required
          />
          <mat-hint>váš login</mat-hint>
          <mat-error>Login musí byť vyplnený</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="password"
            [(ngModel)]="auth.password"
            name="pass"
            required
          />
          <button
            type="button"
            matSuffix
            mat-icon-button
            aria-label="Hide password"
            (click)="hide = !hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary" [disabled]="formModel.form.invalid">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
